#box{
    background-color: blue;


}
.heading{
    color: red;

}
button{
    background-color: green;
    color: white;
}
#heading2{
    color: orange;
    text-align: center;
    text-transform: uppercase;
     font-family: times new roman;
   
}
#outerbox{
    font-size : 25px;


}
#innerbox{
    font-size : 2px;
    
}