.box{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: rgb(76, 236, 209);
    margin: 10px;
    border: 2px solid #000;
    text-align: center;
    justify-content: center;
    align-items: center;
}